@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #585AA9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23585AA9'/%3E%3Cstop offset='1' stop-color='%23A714C0'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='538' height='448.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.App {
  text-align: center;
}

.logo {
  background: transparent;
}

.search-title {
  font-family: 'Bebas Neue';
  color: antiquewhite;
  font-size: 75px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.app-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.background {
  position: absolute;
  display:block;
  top: 0; 
  left: 0; 
  z-index: 0;
  }

.App-link {
  color: #61dafb;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: rgba(71, 61, 139, 0.663);
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0.95;
    z-index: 2;
    height: 20px;
    margin-bottom: 20px;
}

.navlinks li, a{
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  color: #edf0f1;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  list-style: none;
  display: inline-block;
}

.login-button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 20px;
  font-family: 'Bebas Neue';
  color: #fff;
  width: 60px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  margin-left: 50px;
}

.login-button:hover {
  animation: ani 8s linear infinite;
  border: none;
  cursor: pointer;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.login-button:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.login-button:hover::before {
  filter: blur(20px);
}

.login-button:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}

#results-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: none;
  height: 200px;
  justify-content: center;
  margin-top: 20px;
}

#artists-container {
  display: flex;
  flex-direction: column;
  background-color: #03a8f47e;
  font-family: 'Bebas Neue';
  color: antiquewhite;
  width: 200px;
  height: max-content;
  border-radius: 25px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#songs-container {
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue';
  color: antiquewhite;
  width: 700px;
  height: max-content;
  background-color: #e6e6fa6e;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#track-card img{
  border-radius: 50%;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#artist-card img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: scale-down;
}

#track-card {
  list-style: none;
  margin-bottom: 10px;
}

#artist-card {
  list-style: none;
  margin-bottom: 10px;
}

#artists-container h2 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-decoration: underline;
}

#songs-container h2 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-decoration: underline;
}

#songs-container h3 {
  font-size: 20px;
  font-style: italic;
}

#track-card audio {
  width: 250px;
  height: 20px;
  opacity: 0.7;
  margin-right: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: antiquewhite;
}

#like-button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.015);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: -1.75em solid var(--glow-color);
  padding: 10px 15px;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 2em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 1em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  }
  
#like-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 #like-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
#like-button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
}

.container {
  width: 300px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.container .slider {
  width: 200%;
  position: relative;
  transition: transform ease-out 0.3s;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

.search-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(71, 61, 139, 0.663);
  height: 185px;
  border-radius: 25px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-button {
  padding: 14px 40px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(255, 0, 255, 0.735);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 20px;
  transition: all .5s ease;
  font-family: 'Bebas Neue';
  color: antiquewhite;
  cursor: pointer;
 }
 
 .search-button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }
 
 .search-button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }

 .search-box {
  border-radius: 25px;
  height: 50px;
  width: 300px;
  margin-right: 5px;
  padding-left: 20px;
  font-family: 'Bebas Neue';
  font-size: 20px;
  background-color: rgb(251, 246, 239);
 }

 .liked-songs-title {
  font-family: 'Bebas Neue';
  color: antiquewhite;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
 }

 .liked-songs-container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  font-family: 'Bebas Neue';
  color: antiquewhite;
  width: 700px;
  height: max-content;
  background-color: #e6e6fa6e;
  margin: 20px auto;
  padding-bottom: 30px;
 }

 .track-line {
  width: 400px;
  margin-bottom: 20px;
  color: rgba(250, 235, 215, 0.239);
  margin: 20px auto 20px;
 }

 .artist-line {
  width: 100px;
  margin-bottom: 20px;
  color: rgba(250, 235, 215, 0.239);
  margin: 20px auto 20px;
 }

 .top-tracks-container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  font-family: 'Bebas Neue';
  color: antiquewhite;
  width: 700px;
  height: max-content;
  background-color: #e6e6fa6e;
  margin: 20px auto;
  padding-bottom: 30px;
 }

 .top-tracks-title {
  font-family: 'Bebas Neue';
  color: antiquewhite;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
 }

 .genres-container{
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  font-family: 'Bebas Neue';
  font-size: 50px;
  color: antiquewhite;
  width: 700px;
  height: max-content;
  background-color: #e6e6fa6e;
  margin: 20px auto;
  padding-bottom: 30px;
 }

 .genres-title {
  font-family: 'Bebas Neue';
  color: antiquewhite;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
 }

 .genres-list {
  list-style: none;
 }

 .genre-line {
  width: 100px;
  margin-bottom: 20px;
  color: rgba(250, 235, 215, 0.239);
  margin: 20px auto 20px;
 }

